@import url('https://googleapis.com');
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed; top: 0; left: 0; width: 100%;
    padding: 20px 10%; display: flex; justify-content: space-between; align-items: center;
    background: rgba(8, 27, 41, 0.85); backdrop-filter: blur(10px); z-index: 100;
}
.btn {
    background: var(--main-color); color: var(--bg-color); padding: 10px 20px; border-radius: 6px; font-weight: 600;
}
